# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
# If you use pyenv, you might want to ignore these files as well.
# They contain all the build artifacts for each python version.
# If they get committed, they can take up a lot of space.
.python-version
.pip-cache/
.pyenv/

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# PyCharm
#  IntelliJ IDEA files:
.idea/
#  PyCharm files:
*.iml
*.pyi
*.pyw
*.pyd
__pycache__/
scrapy.cfg
}.idea/workspace.xml
}.idea/misc.xml
}.idea/modules.xml
}.idea/vcs.xml
}.idea/dictionaries
}.idea/inspectionProfiles
}.idea/vimSettings.xml
}.idea/encodings.xml
}.idea/toml.xml
}.idea/markdown-navigator.xml
}.idea/jsLibraryMappings.xml

# End of https://www.toptal.com/developers/gitignore/api/pycharm